cython
zarr
matplotlib
mahotas
git+https://github.com/funkelab/funlib.geometry.git
git+https://github.com/funkelab/funlib.persistence.git
git+https://github.com/funkelab/daisy.git
git+https://github.com/funkey/gunpowder.git
git+https://github.com/funkelab/funlib.math.git
git+https://github.com/funkelab/funlib.evaluate.git
git+https://github.com/funkelab/funlib.learn.torch.git
git+https://github.com/htem/waterz@hms
git+https://github.com/funkelab/funlib.segment.git
git+https://github.com/funkelab/lsd.git
tensorboard
tensorboardx
jsmin
magic-class
git+https://github.com/yajivunev/autoseg.git
napari[all]
torch
